name = "xiau2"
main = "worker/index.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "./public"
not_found_handling = "single-page-application"
run_worker_first = true
binding = "ASSETS"
